.control-organs {
  // Пока не требуется
}

.control-organs__title {
  // Пока не требуется
}

.control-organs__list {
  // Пока не требуется
}

.control-organs__list .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.control-organs__item {
  width: 25% !important;
}

@media (max-width: $desktop-sm) {
  .control-organs__item {
    width: 300px !important;
  }
}

@media (pointer: fine) {
  .control-organs__link {
    display: block;
    filter: grayscale(1);
    transition: 0.3s;

    &:hover {
      filter: grayscale(0);
    }
  }
}
