.doctor-info {
  // Пока не требуется
}

.doctor-info__title {
  margin-bottom: 20px;
}

.doctor-info__position {
  margin-bottom: 70px;
  color: $cl-darkblue;
  text-align: center;
  font-size: 20px;
  font-family: Robotolight;
}

.doctor-info__row {
  display: flex;
}

.doctor-info__photo {
  flex-shrink: 0;
  width: 300px;
  margin-right: 20px;

  img {
    border-radius: 10px;
  }
}

.doctor-info__text {
  // Пока не требуется
}

.doctor-info__specialisation {
  display: block;
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  color: $cl-darkgray;
}

.doctor-info__subtitle {
  font-size: 20px;
  color: $cl-darkblue;
  margin-bottom: 15px;
}

.doctor-info__education__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.doctor-info__education-item {
  display: flex;
  margin-bottom: 20px;
}

.doctor-info__education-year {
  flex: 0 0 100px;
  font-weight: bold;
  margin-right: 15px;
  padding-left: 20px;
}

.doctor-info__education-description {
  max-width: 600px;
}

@media (max-width: $tablet) {
  .doctor-info__position {
    margin-bottom: 30px;
  }

  .doctor-info__row {
    display: block;
  }

  .doctor-info__photo {
    margin: auto;
    margin-bottom: 20px;
  }

  .doctor-info__specialisation {
    text-align: center;
    margin-bottom: 30px;
  }

  .doctor-info__subtitle {
    text-align: center;
  }
}

@media (max-width: $mobile) {
  .doctor-info__education-item {
    display: block;
  }

  .doctor-info__education-year {
    margin-bottom: 10px;
  }
}
