.licenses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.licenses__item {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.licenses__link {
  transition: 0.1s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.licenses__item img {
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 5px 1px rgba($cl-black, 0.3);
}

@media (max-width: $tablet) {
  .licenses__item {
    width: calc(33.333% - 10px)
  }
}
