.page-header {
  // Пока не требуется
}

.page-header__main {
  position: relative;
  padding: 10px 0 15px;
  background-color: $cl-silver;

  a {
    color: $cl-darkblue;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.page-header__main .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  // Пока не требуется
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  transition: 0.1s;
}

.page-header__contact-item {
  position: relative;
  display: flex;
  margin-bottom: 15px;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-header__contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 18px;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  color: $cl-darkblue;
}

.page-header__contact-text {
  // Пока не требуется
}

.page-header__contact-description {
  position: absolute;
  left: 35px;
  top: -1.5em;
  color: $cl-black;
  font-size: 12px;
}

.page-header__nav {
  background-color: $cl-blue;
  color: $cl-white;
}

.page-header__bottom .container {
  display: flex;
  justify-content: flex-end;
}

.page-header__change-version {
  padding: 10px 0;
}

.page-header__change-version-btn {
  display: flex;
  align-items: center;
  color: $cl-blue;
  border: 0;
  background: none;
  transition: 0.1s;

  &:hover {
    color: lighten($cl-blue, 5%);
  }

  &:active {
    opacity: 0.6;
  }

  svg {
    margin-right: 15px;
  }
}

.page-header__mobile-menu-btn {
  display: none;
}

// Desktop - S
@media (max-width: $desktop-sm) {
  .page-header__contacts--address {
    order: -1;
  }
}

// Tablet
@media (max-width: $tablet) {
  .page-header__contacts--address {
    order: unset;
  }

  .page-header__nav,
  .page-header__bottom {
    display: none;
  }

  .page-header__mobile-menu-btn {
    display: block;
    padding: 0;
    width: 35px;
    height: 23px;
    color: $cl-darkblue;
    border: 0;
    background: none;
    transform: 0.1s;

    ._menu-open & {
      opacity: 0;
    }

    &:hover {
      color: $cl-blue;
    }

    &:active {
      opacity: 0.6;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
