$table-size: 900px;

.price-table {
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: $table-size;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(#000, 0.3);
}

.price-table__header {
  background-color: $cl-darkblue;
  padding: 20px 30px;
  color: $cl-white;
  text-align: center;
  font-size: 20px;
}

.price-table__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}

.price-table__sublist {
  display: none;
  background-color: $cl-white;
  margin: 0;
  padding: 0;
  overflow: hidden;

  ._open > & {
    display: block;
  }
}

.price-table__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $cl-silver;
  transition: 0.2s;

  &:hover:not(.price-table__item--sublist) {
    background-color: darken($cl-white, 5%);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.price-table__item--top {
  background-color: darken($cl-silver, 10%);
  border-bottom: 0;

  &:nth-child(odd) {
    background-color: $cl-silver;
  }
}

.price-table__item--sublist {
  display: block;

  .price-table__item-name {
    padding-right: 55px;
  }
}

.price-table__item--deep {
  font-size: 0.9em;
}

.price-table__item-name {
  padding: 20px 30px;
}

.price-table__btn-show {
  position: relative;
  width: 100%;
  text-align: left;
  background: none;
  border: 0;
  transition: 0.1s;

  &:hover,
  &:hover .price-table__item-arrow {
    color: $cl-blue;
  }

  &:active {
    opacity: 0.6;
  }
}

.price-table__item-price {
  padding: 20px 30px 20px 0;
  white-space: nowrap;
}

.price-table__item-arrow {
  position: absolute;
  top: 23px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: $cl-darkblue;
  background: none;
  border: 0;
  transform: rotate(90deg);

  ._open > & {
    transform: rotate(-90deg);
  }
}

@media (max-width: $table-size) {
  .price-table {
    border-radius: 0;
    box-shadow: none;
  }

  .price-table__item-name {
    padding: 20px 20px;
  }

  .price-table__item-price {
    padding: 20px 20px 20px 0;
  }
}
