.section {
  padding: 25px 0 30px;
}

.section__title {
  margin-bottom: 70px;
  color: $cl-darkblue;
  text-align: center;
  font-size: 35px;
  font-family: "Robotolight";
}

@media (max-width: $tablet) {
  .section {
    padding: 25px 0 60px;
  }

  .section__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
