.service {
  // Пока не требуется
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.service__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 130px;
  flex-grow: 1;
  margin-bottom: 25px;
}

.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 92px;
  margin-bottom: 13px;
  color: $cl-blue;
  border: 2px solid $cl-blue;
  border-radius: 10px;
}

.service__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 140px;
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.service__btn {
  display: block;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .service__list {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .service__item {
    flex-grow: 0;
  }
}
