section.section
  .container
    h2.section__title О клинике
    .about-clinic
      .content-text.about-clinic__text
        p
          | Таким образом реализация намеченных плановых заданий проверки влечёт за собой интересный процесс внедрения модернизации укрепления демократической системы. Равным образом дальнейшее развитие различных форм деятельности способствует повышению качества системы обучения кадров, соответствующей насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности играет важную роль в формировании экономической целесообразности принимаемых изменений.
        p
          | Таким образом реализация намеченных плановых заданий проверки влечёт за собой интересный процесс внедрения модернизации укрепления демократической системы. Равным образом дальнейшее развитие различных форм деятельности способствует повышению качества системы обучения кадров, соответствующей насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности играет важную роль в формировании экономической целесообразности принимаемых изменений.
        ul
          li Значимость этих проблем настолько очевидна.
          li Не вызывает сомнений.
          li Значимость этих проблем настолько очевидна.
          li Разнообразный и богатый опыт.
        p
          | Таким образом реализация намеченных плановых заданий проверки влечёт за собой интересный процесс внедрения модернизации укрепления демократической системы. Равным образом дальнейшее развитие различных форм деятельности способствует повышению качества системы обучения кадров, соответствующей насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности играет важную роль в формировании экономической целесообразности принимаемых изменений.
      .about-clinic__right-block.chief-medical
        figure.chief-medical__photo
          img(src="@img/staff/solomakhina.jpg", alt="Соломахина Алла Станиславовна")
        h2.chief-medical__name Соломахина Алла Станиславовна
        p.chief-medical__title Главный врач
        a.btn.chief-medical__btn(href="solomakhina.html") Подробнее о враче
