section.section.advantages
  .container
    h2.visually-hidden Преимущества клиники

    ul.advantages__list
      li.advantages__item
        .advantages__icon
          +svgSprite("adv-professional", 47, 85)
        p.advantages__title Профессионализм
      li.advantages__item
        .advantages__icon
          +svgSprite("adv-quality", 67, 85)
        p.advantages__title Гарантия качества
      li.advantages__item
        .advantages__icon
          +svgSprite("adv-equip", 85, 83)
        p.advantages__title Современное оборудование
      li.advantages__item
        .advantages__icon
          +svgSprite("adv-price", 85, 85)
        p.advantages__title Доступные цены
