section.section
  .container
    h2.section__title Информация
    .docs-list
      a.docs-list__item(href="/files/pamyatka.pdf" download)
        .docs-list__item-icon.docs-list__item-icon--pdf
          +svgSprite("pdf", 32, 32)
        .docs-list__item-title Памятка для граждан о&nbsp;гарантиях бесплатного оказания медицинской помощи
        .docs-list__item-arrow
          +svgSprite("arrow-right-2", 24, 24)
