section.section
  .container
    h2.section__title Лицензии
    .licenses
      figure.licenses__item
        a(href="@img/licenses/003.jpg" target="_blank" data-fancybox="gallery").licenses__link
          img(src="@img/licenses/003.jpg", alt="Лицензия" width="100")
      figure.licenses__item
        a(href="@img/licenses/001.jpg" target="_blank" data-fancybox="gallery").licenses__link
          img(src="@img/licenses/001.jpg", alt="Лицензия" width="100")
      figure.licenses__item
        a(href="@img/licenses/002.jpg" target="_blank" data-fancybox="gallery").licenses__link
          img(src="@img/licenses/002.jpg", alt="Лицензия" width="100")
