section.section.licenses
  .container
    h2.section__title Лицензии
    .licenses__list
      figure.licenses__item
        img(src="@img/licenses/dummy.jpg", alt="Лицензия" width="300")
      figure.licenses__item
        img(src="@img/licenses/dummy.jpg", alt="Лицензия" width="300")
      figure.licenses__item
        img(src="@img/licenses/dummy.jpg", alt="Лицензия" width="300")
      figure.licenses__item
        img(src="@img/licenses/dummy.jpg", alt="Лицензия" width="300")
