section.section.service
  .container
    h2.section__title Оказываем полный спектр&nbsp;услуг
    ol.service__list
      li.service__item
        .service__icon
          +svgSprite("service_diagnosis", 68, 62)
        p.service__title
          | Диагностика
      li.service__item
        .service__icon
          +svgSprite("service_cure", 68, 62)
        p.service__title
          | Лечение
      li.service__item
        .service__icon
          +svgSprite("service_prevention", 68, 62)
        p.service__title
          | Профилактика
      li.service__item
        .service__icon
          +svgSprite("service_prothes", 68, 62)
        p.service__title
          | Протезирование
      li.service__item
        .service__icon
          +svgSprite("service_correction", 68, 62)
        p.service__title Коррекция прикуса
    a.btn.service__btn(href="services.html") Подробнее об услугах
