.btn {
  padding: 15px 20px;
  color: $cl-white;
  font-size: 20px;
  text-align: center;
  background: none;
  background-color: $cl-blue;
  border: 0;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: lighten($cl-blue, 10%);
  }

  &:active {
    opacity: 0.6;
  }
}
