.chief-medical {
  text-align: center;
}

.chief-medical__photo {
  margin-bottom: 10px;
}

.chief-medical__name  {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
  color: $cl-darkblue;
}

.chief-medical__title {
  margin: 0;
  margin-bottom: 20px;
}

.chief-medical__btn {
  display: block;
}
