.content-text {
  p {
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 50px;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
