.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 350px;
  height: 100vh;
  background-color: $cl-darkblue;
  color: $cl-white;position: fixed;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 23px;
  left: -55px;
  width: 23px;
  height: 23px;
  padding: 0;
  border: 0;
  background: none;
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none;
}

.mobile-menu__content {
  height: 100%;
  overflow: auto;
  padding: 10px 20px;
}

.mobile-menu__nav {
  padding: 40px 0 20px 20px;
  border-bottom: 1px solid rgba(#000, 0.3);
}

.mobile-menu__contacts {
  padding: 10px 0 80px 20px;

  a {
    color: $cl-white;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.6;
    }
  }

  svg {
    color: $cl-white;
  }
}

@media (max-width: $tablet) {
  ._menu-open .mobile-menu__close-btn {
    opacity: 1;
    pointer-events: all;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $mobile) {
  .mobile-menu {
    width: 100%;
  }

  .mobile-menu__close-btn {
    left: unset;
    right: 20px;
  }
}
