.nav-footer {
  display: flex;
  flex-flow: column wrap;
  max-height: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-footer__item {
  margin-bottom: 15px;
  margin-right: 15px;

  &:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
}

@media (max-width: $tablet) {
  .nav-footer {
    text-align: center;
    max-height: unset;
  }

  .nav-footer__item {
    margin-right: 0;
  }
}
