.social-links {
  display: flex;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  margin-right: 10px;
  color: $cl-white;
  background-color: $cl-blue;
  border-radius: 10px;
  transition: background-image background-color 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: lighten($cl-blue, 10%);
  }
}
