extends common/layout

block config
  - var page = "about"
  - var name = "О клинике"
  - var title = `\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | ${name}`

block content
  include sections/contacts
