extends common/layout

block config
  - var page = "about"
  - var name = "О клинике"
  - var title = `\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | ${name}`

block content
  h1.visually-hidden
    | О клинике
  include sections/about-clinic
  include sections/licenses
  include sections/team
  include sections/contacts
  include sections/control-organs
