extends common/layout

block config
  - var page = "contacts"
  - var name = "Контакты"
  - var title = "\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | Контакты"

block content
  h1.visually-hidden
    | Контакты
  include sections/contacts
