extends common/layout

block config
  - var page = "index"
  - var title = "\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске"

block content
  h1.visually-hidden
    | Аспект Медикал Груп
    br
    | стоматологическая клиника в Красноярске

  include sections/service-main
  include sections/advantages
