extends common/layout

block config
  - var page = "inner"
  - var name = "Ковалёва Т. М."
  - var title = `\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | ${name}`

block content
  +doctorPage(1)
