extends common/layout

block config
  - var page = "reviews"
  - var title = "\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | Отзывы"

block content
  h1.visually-hidden
    | Отзывы
  include sections/reviews

