extends common/layout

block config
  - var page = "services"
  - var name = "Услуги и цены"
  - var title = "\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | Услуги и цены"

block content
  include sections/price
