extends common/layout

block config
  - var page = "inner"
  - var name = "Соломахина А. С."
  - var title = `\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | ${name}`

block content
  //- Временно тут. С появлением новых врачей вынести в миксин
  section.section.doctor-info
    .container
      h1.section__title.doctor-info__title
        | Соломахина Алла Станиславовна
      .doctor-info__position
        | Главный врач, врач-стоматолог, детский стоматолог
      .doctor-info__row
        figure.doctor-info__photo
          img(src="@img/staff/solomakhina.jpg", alt="Соломахина Алла Станиславовна")
        .doctor-info__text
          p.doctor-info__specialisation
            | Специализируется на терапевтической стоматологии
            br
            | Стаж работы:&nbsp;
            span 10
            | &nbsp;лет

          h2.doctor-info__subtitle
            | Обучение и квалификация
          ul.doctor-info__education__list
            li.doctor-info__education-item
              .doctor-info__education-year 2007 год
              .doctor-info__education-description Диплом специалиста Читинской государственной медицинской академии Федерального агентства по здравоохранению и социальному развитию по специальности "Стоматология", квалификации "Врач-стоматолог".
            li.doctor-info__education-item
              .doctor-info__education-year 2007 год
              .doctor-info__education-description Диплом специалиста Читинской государственной медицинской академии Федерального агентства по здравоохранению и социальному развитию по специальности "Стоматология", квалификации "Врач-стоматолог".
            li.doctor-info__education-item
              .doctor-info__education-year 2007 год
              .doctor-info__education-description Диплом специалиста Читинской государственной медицинской академии Федерального агентства по здравоохранению и социальному развитию по специальности "Стоматология", квалификации "Врач-стоматолог".
            li.doctor-info__education-item
              .doctor-info__education-year 2007 год
              .doctor-info__education-description Диплом специалиста Читинской государственной медицинской академии Федерального агентства по здравоохранению и социальному развитию по специальности "Стоматология", квалификации "Врач-стоматолог".

          h2.doctor-info__subtitle
            | Опыт работы
          ul.doctor-info__education__list
            li.doctor-info__education-item
              .doctor-info__education-year 2005 – 2007 годы
              .doctor-info__education-description Работа ассистентом врача-стоматолога в стоматологической клинике "Дента Люкс".
            li.doctor-info__education-item
              .doctor-info__education-year 2005 – 2007 годы
              .doctor-info__education-description Работа ассистентом врача-стоматолога в стоматологической клинике "Дента Люкс".
            li.doctor-info__education-item
              .doctor-info__education-year 2005 – 2007 годы
              .doctor-info__education-description Работа ассистентом врача-стоматолога в стоматологической клинике "Дента Люкс".
            li.doctor-info__education-item
              .doctor-info__education-year 2005 – 2007 годы
              .doctor-info__education-description Работа ассистентом врача-стоматолога в стоматологической клинике "Дента Люкс".
