extends common/layout

block config
  - var page = "inner"
  - var name = "Соломахина А. С."
  - var title = `\"Аспект Медикал Груп\" – стоматологическая клиника в Красноярске | ${name}`

block content
  +doctorPage(0)
