-
  //- Контактные даныне
  var contacts = {
    phones: ["+7(391)267-34-51", "+7(902)951-19-11"],
    time: "Пн-сб с 9:00 до 21:00",
    address: "г. Красноярск, ул. Краснодарская, 17а",
    bus: ["Военкомат", 190],
    socials: {
      instagram: "https://www.instagram.com/aspect_medical_group/"
    }
  }

  //- Персонал
  var staff = [
    {
      surname: "Соломахина",
      name: "Алла",
      patronym: "Станиславовна",
      rank: "Главный врач",
      birth: []
    }
  ]

  //- Услуги и цены
  var service = [
    {
      name: "Консультация, диагностика",
      details: [
        {
          name: "Прием (осмотр, консультация) врача-ортодонта первичный",
          price: "400"
        },
        {
          name: "Прием (осмотр, консультация) врача-ортодонта повторный",
          price: "200"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога первичный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога повторный",
          price: "200"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-терапевта первичный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-терапевта повторный",
          price: "200"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-ортопеда первичный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-ортопеда повторный",
          price: "200"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-хирурга первичный",
          price: "300"
        },
        {
          name: "Прием (осмотр, консультация) врача-стоматолога-хирурга повторный",
          price: "200"
        },
        {
          name: "Первичная диагностика",
          price: "300",
          details: [
            "Сбор анамнеза и жалоб при патологии полости рта",
            "Внешний осмотр челюстно-лицевой области",
            "Визуальное исследование при патологии полости рта",
            "Пальпация органов полости рта",
            "Перкуссия при патологии полости рта",
            "Осмотр полости рта с помощью дополнительных инструментов",
            "Исследование кариозных полостей с использованием стоматологического зонда",
            "Перкуссия зубов",
            "Определение степени патологической подвижности зубов",
            "Термодиагностика зуба",
            "Исследование зубодесневых карманов с помощью пародонтологического зонда"
          ]
        },
        {
          name: "Расширенная диагностика",
          price: "2000",
          details: [
            "Прием (осмотр, консультация) врача-стоматолога повторный",
            "Сбор анамнеза и жалоб при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Визуальное исследование при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Пальпация при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Перкуссия при патологии полости рта, включая черепно-челюстно-лицевой области",
            "Пальпация челюстно-лицевой области",
            "Определение степени открывания рта и ограничения подвижности нижней челюсти",
            "Перкуссия зубов",
            "Определение степени патологической подвижности зубов",
            "Описание и интерпретация рентгенографических изображений",
            "Антропометрические исследования (медицинское фотографирование)",
            "Исследование на диагностических моделях челюстей",
            "Определение прикуса"
          ]
        },
        {
          name: "Радиовизиография",
          price: "300"
        },
        {
          name: "Определение прикуса",
          price: "200"
        },
        {
          name: "Исследование на диагностических моделях челюстей",
          price: "1000"
        },
        {
          name: "Определение вида смыкания зубов с помощью лицевой дуги",
          price: "1000"
        },
        {
          name: "Исследование зубодесневых карманов с помощью пародонтологического зонда",
          price: "300"
        },
        {
          name: "Функциональные жевательные пробы",
          price: "300"
        },
        {
          name: "Определение индексов гигиены полости рта",
          price: "300"
        },
      ]
    },
    {
      name: "Анестезия, инъекции, лекарственная терапия",
      details: [
        {
          name: "Аппликационная анестезия",
          price: "100"
        },
        {
          name: "Инфильтрационная анестезия",
          price: "350"
        },
        {
          name: "Проводниковая анестезия",
          price: "400"
        },
        {
          name: "Инъекционное введение лекарственных препаратов в челюстно-лицевую область",
          price: "200"
        },
        {
          name: "Назначение лекарственных препаратов при заболеваниях полости рта и зубов",
          price: "100"
        },
        {
          name: "Внутримышечное введение лекарственных препаратов",
          price: "200"
        },
        {
          name: "Внутривенное введение лекарственных препаратов",
          price: "500"
        }
      ]
    },
    {
      name: "Терапевтические услуги",
      details: [
        {
          name: "Восстановление зуба пломбой",
          details: [
            {
              name: "Сошлифовывание твердых тканей зуба при лечении кариеса и его осложнений",
              price: "200"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса I класса по Блэк",
              price: "2500"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса III и VI класса по Блэк",
              price: "3000"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса II, V и IV класса по Блэк и клиновидного дефекта",
              price: "2500"
            },
            {
              name: "Восстановление зуба пломбой в случае разрушения более 1/2 коронковой части зуба",
              price: "3500"
            },
            {
              name: "Восстановление зуба пломбой при лечении кариеса III и VI  класса по Блэк с воспроизведением индивидуальной эстетики и формы зуба",
              price: "4700"
            },
            {
              name: "Фиксация внутриканального штифта/вкладки",
              price: "400"
            },
            {
              name: "Восстановление зуба вкладками, виниром, полукоронкой из фотополимерного материала прямым методом",
              price: "4000"
            },
            {
              name: "Лечение осложнений кариеса (эндодонтическое лечение  корневых каналов) однокорневого зуба, включает",
              price: "От 4000",
              details: [
                "Экстирпация пульпы",
                "Инструментальная и медикаментозная обработка корневого канала",
                "Пломбирование корневого канала зуба",
                "Восстановление зуба пломбой после эндодонтического лечения"
              ]
            },
            {
              name: "Экстирпация пульпы",
              price: "400"
            },
            {
              name: "Инструментальная и медикаментозная обработка корневого канала с временным вложением гидроокиси кальция",
              price: "500"
            },
            {
              name: "Инструментальная и медикаментозная обработка плохо проходимого корневого канала с временным вложением гидроокиси кальция",
              price: "800"
            },
            {
              name: "Временное пломбирование лекарственным препаратом корневого канала",
              price: "500"
            },
            {
              name: "Ультразвуковое расширение корневого канала зуба",
              price: "200"
            },
            {
              name: "Пломбирование корневого канала зуба методом латеральной конденсации гуттаперчи",
              price: "1600"
            },
            {
              name: "Пломбирование корневого канала зуба методом вертикальной конденсации горячей гуттаперчи или системой \"Термафил\", \"Софт-Кор\", ProRoot MTA",
              price: "2500"
            },
            {
              name: "Закрытие перфорации стенки корневого канала  (без учета стоимости материала)",
              price: "500"
            },
            {
              name: "Распломбировка корневого канала ранее леченого пастой",
              price: "550"
            },
            {
              name: "Распломбировка корневого канала ранее леченого фосфат цементом/резорцин-формальдегидным методом",
              price: "800"
            },
            {
              name: "Удаление внутриканального штифта/вкладки",
              price: "1000"
            },
          ]
        },
        {
          name: "Временные пломбы",
          details: [
            {
              name: "Наложение временной пломбы",
              price: "200"
            }
          ]
        },
        {
          name: "Профилактика",
          details: [
            {
              name: "Профессиональная гигиена полости рта комбинированным методом (ультразвук+аир-флоу+полировка эмали) в области одной челюсти с ультразвуковым удалением зубных отложений, обработкой эйр-флоу и полировкой эмали",
              price: "1500"
            },
            {
              name: "Ультразвуковая обработка патологических зубодесневых карманов (1 зуб)",
              price: "100"
            },
            {
              name: "Ультразвуковое удаление наддесневых и поддесневых зубных отложений в области одного зуба",
              price: "150"
            },
            {
              name: "Запечатывание фиссуры зуба герметиком",
              price: "1200"
            },
            {
              name: "Глубокое фторирование твердых тканей зубов (1 зуб) ",
              price: "200"
            },
            {
              name: "Глубокое фторирование твердых тканей зубов при подготовке эмали зубов к лечению с помощью брекет-системы и реабилитация после с использованием индивидуальных капп, снятие генерализованной гиперчувствительности (1 челюсть)",
              price: "500"
            },
            {
              name: "Введение лекарственных препаратов в парадонтальный карман",
              price: "200"
            },
          ]
        },
        {
          name: "Шинирование зубов",
          details: [
            {
              name: "Временное шинирование при заболеваниях пародонта",
              price: "От 5000"
            },
          ]
        },
      ]
    },
    {
      name: "Ортопедические услуги",
      details: [
        {
          name: "Исследование на диагностических моделях челюстей с восковой моделировкой будущей ортопедической конструкции с целью планирования препарирования, эстетики и функции (1 единица) ",
          price: "800"
        },
        {
          name: "Сошлифовывание твердых тканей зуба для последующего восстановления вкладкой, накладкой, полукоронкой, коронкой, виниром",
          price: "500"
        },
        {
          name: "Восстановление зуба коронкой временной (пластмассовой)",
          price: "600"
        },
        {
          name: "Восстановление зуба металлической стандартной коронкой",
          price: "2200"
        },
        {
          name: "Восстановление зуба коронкой постоянной цельнометаллической",
          price: "4500"
        },
        {
          name: "Восстановление зуба коронкой постоянной металлокерамической ",
          price: "8000"
        },
        {
          name: "Восстановление зуба коронкой постоянной безметалловой из диоксида циркония ",
          price: "15000"
        },
        {
          name: "Восстановление зуба коронкой постоянной безметалловой цельнокерамической ",
          price: "15000"
        },
        {
          name: "Восстановление зуба коронкой  постоянной  пластмассовой",
          price: "3500"
        },
        {
          name: "Восстановление зуба вкладкой, виниром, полукоронкой ( безметаловой цельнокерамической)",
          price: "15000"
        },
        {
          name: "Восстановление зуба с использованием цельнолитой культевой вкладки",
          price: "3000"
        },
        {
          name: "Восстановление зуба с использованием цельнокерамической культевой вкладки",
          price: "5500"
        },
        {
          name: "Изготовление окклюзионной накладки в мостовидном протезе",
          price: "800"
        },
      ]
    },
    {
      name: "Съемные протезы",
      details: [
        {
          name: "Протезирование частичными съемными пластиночными протезами (1 челюсть)",
          price: "19000"
        },
        {
          name: "Протезирование частичными съемными пластиночными протезами с армированием (1 челюсть)",
          price: "19500"
        },
        {
          name: "Протезирование зубов полными съемными пластиночными протезами (1 челюсть)",
          price: "18000"
        },
        {
          name: "Протезирование зубов полными съемными пластиночными протезами с армированием",
          price: "19500"
        },
        {
          name: "Протезирование съемными бюгельными протезами с кламмерной фиксацией (1 челюсть)",
          price: "30000"
        },
        {
          name: "Протезирование съемными бюгельными протезами с замковой фиксацией (1 челюсть)",
          price: "35000"
        },
        {
          name: "Постоянное шинирование цельнолитыми съемными конструкциями при заболеваниях пародонта (шинирующий бюгель на 1 челюсть)",
          price: "30000"
        },
        {
          name: "Протезирование частичными съемными пластиночными протезами для временного замещения 1-3 отсутствующих зубов (иммедиат-протез)",
          price: "8000"
        },
        {
          name: "Протезирование частичными съемными пластиночными протезами для временного замещения 4-5 отсутствующих зубов (иммедиат-протез)",
          price: "10000"
        },
      ]
    },
    {
      name: "Прочие ортопедические услуги",
      details: [
        {
          name: "Снятие несъемной ортопедической конструкции (1 единица)",
          price: "300"
        },
        {
          name: "Снятие несъемной ортопедической конструкции временной (1 единица)",
          price: "100"
        },
        {
          name: "Фиксация на постоянный цемент несъемных ортопедических конструкций (1 единица)",
          price: "400"
        },
        {
          name: "Фиксация на временный цемент несъемных ортопедических конструкций (1 единица)",
          price: "100"
        },
        {
          name: "Коррекция прикуса с использованием съемных и несъемных  ортопедических конструкций ",
          price: "От 15000"
        },
        {
          name: "Снятие оттиска с одной челюсти альгинатным слепочным  материалом",
          price: "400"
        },
        {
          name: "Снятие оттиска с одной челюсти С силиконовым слепочным  материалом",
          price: "600"
        },
        {
          name: "Снятие оттиска с одной челюсти А силиконовым слепочным  материалом",
          price: "800"
        },
        {
          name: "Перебазировка съемного протеза лабораторным методом",
          price: "3000"
        },
        {
          name: "Приварка кламмера",
          price: "1500"
        },
        {
          name: "Приварка зуба",
          price: "1500"
        },
        {
          name: "Починка перелома базиса самотвердеющей пластмассой",
          price: "2000"
        },
        {
          name: "Изготовление эластической прокладки (лабораторный метод)",
          price: "5000"
        },
      ]
    },
    {
      name: "Хирургические услуги",
      details: [
        {
          name: "Удаление зуба",
          details: [
            {
              name: "Операция удаления постоянного зуба простое",
              price: "1500"
            },
            {
              name: "Операция удаления постоянного зуба сложное с разъединением корней",
              price: "2200"
            },
            {
              name: "Операция удаления непрорезовавшегося, дистопированного или сверхкомплектного зуба",
              price: "От 2500"
            },
            {
              name: "Лечение перикоронита (промывание, рассечение и/или иссечение капюшона)",
              price: "500"
            },
            {
              name: "Остановка луночного  кровотечения без наложения швов с использованием гемостатических материалов",
              price: "400"
            },
            {
              name: "Наложение шва на слизистую оболочку рта",
              price: "500"
            },
            {
              name: "Гингивотомия в области одного зуба ",
              price: "300"
            },
            {
              name: "Вскрытие подслизистого или поднадкостничного очага воспаления в полости рта",
              price: "400"
            },
            {
              name: "Отсроченный кюретаж  лунки удаленного зуба",
              price: "500"
            },
          ]
        },
        {
          name: "Перевязки при заболеваниях ЧЛО",
          details: [
            {
              name: "Перевязка, обработка раны после оперативных вмешательств",
              price: "300"
            },
            {
              name: "Снятие швов после оперативных вмешательств в области одного зуба",
              price: "300"
            },
          ]
        },
      ],
      comment: "Стоимость хирургического лечения указана без учета стоимости расходных ма-териалов"
    },
    {
      name: "Детский приём",
      details: [
        {
          name: "Восстановление временного зуба пломбой при лечении кариеса I, II , III, V, VI класса по Блэку с использованием стоматологических цементов",
          price: "1500"
        },
        {
          name: "Восстановление временного зуба пломбой при лечении кариеса I, II , III, V, VI класса по Блэку с использованием материалов из фотополимеров",
          price: "2000"
        },
        {
          name: "Наложение девитализирующей пасты",
          price: "150"
        },
        {
          name: "Пульпотомия (ампутация коронковой пульпы) временного зуба",
          price: "200"
        },
        {
          name: "Инструментальная и медикаментозная обработка хорошо проходимого корневого канала  временного зуба",
          price: "500"
        },
        {
          name: "Пломбирование корневого канала временного зуба пастой",
          price: "500"
        },
        {
          name: "Операция удаления временного зуба простое",
          price: "500"
        },
        {
          name: "Операция удаления временного зуба сложное",
          price: "1000"
        },
        {
          name: "Наложение временной пломбы",
          price: "200"
        },
        {
          name: "Наложение  изолирующей прокладки",
          price: "200"
        },
        {
          name: "Применение метода серебрения",
          price: "150"
        },
        {
          name: "Лечение методом глубокой ампутации ",
          price: "1450"
        },
      ]
    }
  ];

  //- Отзывы
