// Используемая палитра
$cl-blue: #008dd2;

// Цвета по умолчанию
$g-bg-color: #fff; // фон
$g-text-color: #000; // текст

// Шрифт по умолчанию
$g-font-size: 16px;
$g-font: sans-serif;
$g-line-height: unset;
