// Используемая палитра
$cl-blue: #008CB8;
$cl-darkblue: #1466AC;
$cl-silver: #ECEFF0;
$cl-gray: #CFD0D0;
$cl-white: #FFF;
$cl-black: #000;
$cl-darkgray: #1E2325;
$cl-red: #B82100;

// Цвета по умолчанию
$g-bg-color: $cl-white; // фон
$g-text-color: $cl-black; // текст

// Шрифт по умолчанию
$g-font-size: 16px;
$g-font: "Roboto";
$g-line-height: unset;

// Разрешения
$desktop-sm: 1750px;
$tablet: 750px;
$mobile: 425px;
