@font-face {
                font-family: Roboto;
                font-display: swap;
                src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotolight;
                font-display: swap;
                src: url("../fonts/Robotolight.woff2") format("woff2"), url("../fonts/Robotolight.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotoblack;
                font-display: swap;
                src: url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotolightitalic;
                font-display: swap;
                src: url("../fonts/Robotolightitalic.woff2") format("woff2"), url("../fonts/Robotolightitalic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotobold;
                font-display: swap;
                src: url("../fonts/Robotobold.woff2") format("woff2"), url("../fonts/Robotobold.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotobolditalic;
                font-display: swap;
                src: url("../fonts/Robotobolditalic.woff2") format("woff2"), url("../fonts/Robotobolditalic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotomedium;
                font-display: swap;
                src: url("../fonts/Robotomedium.woff2") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotoitalic;
                font-display: swap;
                src: url("../fonts/Robotoitalic.woff2") format("woff2"), url("../fonts/Robotoitalic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotothinitalic;
                font-display: swap;
                src: url("../fonts/Robotothinitalic.woff2") format("woff2"), url("../fonts/Robotothinitalic.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
@font-face {
                font-family: Robotothin;
                font-display: swap;
                src: url("../fonts/Robotothin.woff2") format("woff2"), url("../fonts/Robotothin.woff") format("woff");
                font-weight: 400;
                font-style: normal;
              }
